.products {
  float: right;
  width: 90%;
  max-width: 90rem;
}

.products h1 {
  margin: 1.5rem 0;
  font-size: 2rem;
  color: hsl(276, 5%, 20%);
  text-align: center;
}

@media (min-width: 768px) {
  .products h1 {
    font-size: 2.5rem;
  }
}